.sign-up1 {
  position: absolute;
  top: 125px;
  left: 82px;
  letter-spacing: 0.41px;
  line-height: 41px;
  font-family: var(--font-sfprodisplay-bold);
  display: inline-block;
}
.box-2-copy,
.box-2-copy-2 {
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 16px;
}
.box-21 {
  top: 245px;
}
.box-21,
.box-22 {
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 16px;
}
.box-2-copy {
  top: 464px;
}
.box-22 {
  top: 318px;
}
.box-2-copy-2 {
  top: 391px;
}
.group-div1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.entrytab1 {
  position: absolute;
  top: 562px;
  left: 16px;
  width: 343px;
  height: 80px;
}
.button-shape1,
.controls-buttons-big-acti {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.controls-buttons-big-acti {
  width: calc(100% - 174.35px);
  left: 174.35px;
}
.button-shape1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-brown);
  width: 48.47%;
  left: 51.53%;
  border-radius: var(--br-md);
}
.label1 {
  position: absolute;
  width: 44.33%;
  top: calc(50% - 11px);
  left: 0;
  letter-spacing: -0.36px;
  display: inline-block;
}
.button-shape-2 {
  position: absolute;
  top: 575px;
  left: 20.65px;
  width: 338.35px;
  height: 50px;
  font-size: var(--font-size-xs);
  color: #080808;
}
.sign-up2 {
  position: absolute;
  top: 591px;
  left: 251px;
  font-size: var(--font-size-sm);
  letter-spacing: -0.27px;
  line-height: 18px;
  color: var(--color-white);
  display: inline-block;
}
.create-new-wallet {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-brown);
  font-family: var(--font-sfprotext-semibold);
}
