.popover-body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl) var(--br-3xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0-2px 3px rgba(0, 0, 0, 0.05);
}
.system-popover-non-drag {
  position: absolute;
  top: 130px;
  left: 0;
  width: 375px;
  height: 750px;
}
.icon-iconslarm,
.path-icon {
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-iconslarm {
  position: absolute;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  top: 4px;
  right: 4px;
}
.path-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}
.badge,
.div1,
.path-icon {
  position: absolute;
}
.div1 {
  top: calc(50% - 7.5px);
  left: 31.25%;
  display: inline-block;
}
.badge {
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}
.group-div1,
.hi-push-puttichai {
  position: absolute;
  color: var(--color-white);
  text-align: left;
}
.group-div1 {
  top: 67px;
  right: 24px;
  width: 28px;
  height: 28px;
  font-size: 10px;
}
.hi-push-puttichai {
  top: 69.6px;
  left: 92px;
  font-size: var(--font-size-base);
  display: inline-block;
}
.oval-icon,
.rectangle5 {
  position: absolute;
  top: 56px;
  left: 24px;
  width: 50px;
  height: 50px;
}
.rectangle5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
}
.account {
  margin: 0;
}
.account-and-card {
  position: absolute;
  width: 85%;
  top: calc(50% + 5px);
  left: 8%;
  display: inline-block;
  height: 37px;
}
.icon-category-8 {
  position: absolute;
  height: 28.01%;
  width: 28.01%;
  top: 16%;
  right: 35.99%;
  bottom: 55.99%;
  left: 36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.card-1 {
  position: absolute;
  top: 407px;
  left: 24px;
  width: 100px;
  height: 100px;
}
.icon-category-81 {
  position: absolute;
  height: 28.01%;
  width: 28%;
  top: 16%;
  right: 36%;
  bottom: 55.99%;
  left: 36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.card-1-copy-3 {
  position: absolute;
  top: 523px;
  left: 24px;
  width: 100px;
  height: 100px;
}
.icon-category-82 {
  position: absolute;
  height: 28%;
  width: 28.01%;
  top: 16%;
  right: 35.99%;
  bottom: 56%;
  left: 36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.card-1-copy-6 {
  position: absolute;
  top: 639px;
  left: 24px;
  width: 100px;
  height: 100px;
}
.card-1-copy,
.card-1-copy-4,
.card-1-copy-7 {
  position: absolute;
  top: 407px;
  left: 140px;
  width: 100px;
  height: 100px;
}
.card-1-copy-4,
.card-1-copy-7 {
  top: 523px;
}
.card-1-copy-7 {
  top: 639px;
}
.card-1-copy-2,
.card-1-copy-5,
.card-1-copy-8 {
  position: absolute;
  top: 523px;
  right: 19px;
  width: 100px;
  height: 100px;
}
.card-1-copy-2,
.card-1-copy-8 {
  top: 639px;
}
.card-1-copy-2 {
  top: 407px;
}
.system-statusbars-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 40px;
}
.rectangle14,
.rectangle15 {
  position: absolute;
  height: 74.21%;
  width: 79.82%;
  top: 25.79%;
  right: 10.09%;
  bottom: 0;
  left: 10.09%;
  border-radius: var(--br-sm);
  background-color: #5655b9;
}
.rectangle15 {
  height: 80.54%;
  width: 87.77%;
  top: 15.84%;
  right: 6.12%;
  bottom: 3.62%;
  left: 6.12%;
  background-color: #ff4267;
}
.group-icon1 {
  position: absolute;
  height: 92.31%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 7.69%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.john-smith {
  top: calc(50% - 87.68px);
  left: calc(50% - 143.06px);
  font-size: 24px;
}
.amazon-platinium,
.div2,
.div3,
.john-smith {
  position: absolute;
  display: inline-block;
}
.amazon-platinium {
  top: calc(50% - 19.78px);
  left: calc(50% - 143.06px);
  font-size: 14px;
  font-family: var(--font-poppins-medium);
}
.div2,
.div3 {
  top: calc(50% + 12.06px);
  left: calc(50% - 147.15px);
}
.div3 {
  left: calc(50% + 5.11px);
}
.shape-icon,
.shape-icon1 {
  position: absolute;
  height: 2.4%;
  width: 10.77%;
  top: 60.2%;
  right: 66.42%;
  bottom: 37.39%;
  left: 22.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shape-icon1 {
  right: 52.19%;
  bottom: 37.4%;
  left: 37.04%;
}
.div4 {
  position: absolute;
  top: calc(50% + 39.44px);
  left: calc(50% - 143.06px);
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins-bold);
  display: inline-block;
}
.card-bank-multi {
  position: absolute;
  top: 154px;
  left: 24px;
  width: 327px;
  height: 221px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins-regular);
}
.rectangle16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0-5px 30px rgba(40, 28, 157, 0.07);
}
.icon-group-11,
.icon-group-11-copy,
.icon-group-11-copy-2 {
  position: absolute;
  height: 23.92%;
  width: 5.87%;
  top: 27.17%;
  right: 47.2%;
  bottom: 48.91%;
  left: 46.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-group-11-copy,
.icon-group-11-copy-2 {
  height: 23.91%;
  right: 28%;
  left: 66.13%;
}
.icon-group-11-copy-2 {
  right: 9.87%;
  left: 84.27%;
}
.rectangle17 {
  position: absolute;
  height: 40.22%;
  width: 24.8%;
  top: 20.65%;
  right: 64.8%;
  bottom: 39.13%;
  left: 10.4%;
  border-radius: 18px;
  background-color: #3629b7;
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.home1 {
  position: absolute;
  top: calc(50% - 16.8px);
  left: calc(50% - 105.5px);
  display: inline-block;
}
.path-icon1 {
  position: absolute;
  height: 19.93%;
  width: 5.33%;
  top: 31.34%;
  right: 80.26%;
  bottom: 48.73%;
  left: 14.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.system-tabbar-display-down,
.tab-bar-home {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 375px;
}
.tab-bar-home {
  height: 92px;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-poppins-regular);
}
.system-tabbar-display-down {
  height: 38px;
}
.home {
  position: relative;
  background-color: #281c9d;
  width: 100%;
  height: 880px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--font-poppins-medium);
}
