.box,
.box1 {
  border: 0;
  background-color: transparent;
  position: absolute;
  width: calc(100% - 32px);
  top: calc(50% - 82px);
  right: 16px;
  left: 16px;
}
.box1 {
  top: calc(50% - 26px);
}
.forgot-password {
  position: absolute;
  top: calc(50% + 20px);
  left: 4.46%;
  letter-spacing: -0.07px;
  display: inline-block;
}
.controls-buttons-mini-bl {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-2xl) var(--br-2xl) 0;
  background-color: var(--color-brown-100);
}
.iconglyphnext {
  position: absolute;
  top: calc(50% - 12px);
  right: 16px;
  width: 24px;
  height: 24px;
}
.sign-in {
  position: absolute;
  top: calc(50% - 10px);
  left: 5.45%;
  font-size: var(--font-size-lg);
  letter-spacing: -0.41px;
  line-height: 22px;
  font-family: var(--font-sfprotext-semibold);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 303px;
  height: 50px;
}
.group-div2 {
  position: absolute;
  top: 270px;
  left: 0;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  background-color: var(--color-white);
  width: 359px;
  height: 236px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
  font-family: var(--font-sfprotext-medium);
}
