@import url("https://fonts.googleapis.com/css2?family=SFProDisplay-Bold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SFProText-Medium:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SFProText-Semibold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-sfprotext-medium: SFProText-Medium;
  --font-sfprotext-semibold: SFProText-Semibold;
  --font-sfprodisplay-bold: SFProDisplay-Bold;

  /* font sizes */
  --font-size-xs: 15px;
  --font-size-sm: 17px;
  --font-size-base: 34px;

  /* Colors */
  --color-white: #fff;
  --color-brown: #fa7268;

  /* border radiuses */
  --br-sm: 8px;
  --br-md: 25px;
}
